<div id="navigation">
    <div class='hamburger' (click)="showMenu()">
        <span class='first'></span>
        <span class='second'></span>
        <span class='third'></span>
    </div>
    <div class="flex-item container">
        <a id="logo">
            <!--<img src="../app/images/logo-icon.jpg">-->
            Swiss
            services</a>
        <ul class="pull-right">
            <li routerLink="/" routerLinkActive="active">Home</li>
            <li><a routerLink="/about" routerLinkActive="active">about</a>
                <ul>
                    <li><a routerLink="about/c" routerLinkActive="active">About Company</a></li>
                </ul>
            </li>
            <li><a routerLink="/about" routerLinkActive="active">Works</a>
            <li><a routerLink="/about" routerLinkActive="active">Contact</a>
            <li class="btn btn_project" (click)="showForm()">Start a Project</li>

        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <ul>
            <li>About us</li>
            <li>career</li>
            <li>portfolio</li>
        </ul>
        <ul class="text-right">
            <li style="margin: 0"><a id="logo"><img src="./images/logo-icon.jpg">Swiss Services </a></li>
        </ul>
        <ul class="pull-right">
            <li>Services</li>
            <li>hire us</li>
            <li>contact us</li>
        </ul>
    </div>
</footer>
