<div class="first-fold">
    <div class="flex-item container">
        <div class="mainHeading">

            <h2>{{value}}We are a full-stack Javascript
                agency specializing in Angular and Java</h2>
            <p>We are a UI/UX design and front-end development team focused
                on building high quality websites, full responsive web
                interfaces and mobile applications.</p>
            <!--<div id="typed-strings">-->
                <!--<p>Typed.js is an <strong>Awesome</strong> library.</p>-->
                <!--<p>It <em>types</em> out sentences.</p>-->
            <!--</div>-->
            <!--<span id="typed"></span>-->
        </div>
    </div>
    <div class="flex-item container text-center">
        <a class="btn btn_project hire-btn" href="#">Hire us Now !</a>
    </div>
</div>
<div class="specification">
    <div class="container">
        <div class="col-lg-4">
            <div class="services">
                <h2>Front end Development</h2>
                <p>We focus on designing and building websites that provide a human experience people enjoy interacting
                    with.</p>
                <h3>CORE SERVICES</h3>
                <a href="#">Modern JS frameworks, Responsive layout, Maintainable and Scalable CSS, Universal
                    Application Development</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="services">
                <h2>Front end Development</h2>
                <p>We focus on designing and building websites that provide a human experience people enjoy
                    interacting with.</p>
                <h3>CORE SERVICES</h3>
                <a href="#">Modern JS frameworks, Responsive layout, Maintainable and Scalable CSS, Universal
                    Application Development</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="services">
                <h2>Front end Development</h2>
                <p>We focus on designing and building websites that provide a human experience people enjoy
                    interacting with.</p>
                <h3>CORE SERVICES</h3>
                <a href="#">Modern JS frameworks, Responsive layout, Maintainable and Scalable CSS, Universal
                    Application Development</a>
            </div>
        </div>
    </div>
</div>
<div class="planning">
    <div class="container text-center">
        <h1>We use the best technologies</h1>
        <p>Our expertise is in modern technology, design, and user experience / user interface. We believe that design
            starts with having knowledge of the best way to tackle problems with most effective solutions.</p>
        <div class="col-md-4">
            <h2 class="first-plan">Sprint Planning</h2>
            <p>Backlog Grooming, Sprint Planning, Sprint
                Review, Sprint Retrospective</p>
        </div><!-------  end col-4  ----   -->
        <div class="col-md-4">
            <h2 class="first-two">Sketching Prototyping Design Refining</h2>
            <p>Research, Define, Brainstorm, Plan,
                Analyze, Prototype, Design</p>
        </div><!-------  end col-4  ----   -->
        <div class="col-md-4">
            <h2 class="plan-third">Front-end Development</h2>
            <p>HTML5, CSS3, LESS/SASS, Bootstrap3, ReactJS Php , Wordpress </p>
        </div><!-------  end col-4  ----   -->
        <div class="col-md-4">
            <h2 class="plan-fourth">Backend Development </h2>
            <p>Backlog Grooming, Sprint Planning, Sprint
                Review, Sprint Retrospective</p>
        </div><!-------  end col-4  ----   -->
        <div class="col-md-4">
            <h2 class="plan-fifth">Testing</h2>
            <p>Research, Define, Brainstorm, Plan,
                Analyze, Prototype, Design</p>
        </div><!-------  end col-4  ----   -->
        <div class="col-md-4">
            <h2 class="plan-sixth">Deployed</h2>
            <p>HTML5, CSS3, LESS/SASS, Bootstrap3, MeteorJS, ReactJS Php , Wordpress , Cake php </p>
        </div><!-------  end col-4  ----   -->
    </div>
</div>
