.specification {
    background: #f1f1f1;;
    padding-bottom: 30px;
}

.specification .services {
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.18);
    padding: 20px;;
    background: #fff;
    margin: -110px 0 0;
}

.services p {
    color: rgba(34, 34, 34, 0.64);
    margin: 25px 0;
}

.services h3 {
    font-size: 18px;
}

.services a {
    color: #ec4a1d;
    text-decoration: underline
}

.services h2 {
    font-size: 22px;
    font-weight: 500;
}

.mainHeading h2 {
    font-size: 6vh;
    font-weight: 700;
    text-align: center;
    line-height: 1.2
}

.first-fold {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
    background: url("../images/banner-bg2.png") no-repeat;
    width: 100%;
}

.mainHeading p {
    font-size: 2vh;
    text-align: center;
    margin: 30px 0
}

.hire-btn {
    margin: -200px 0 0;
}

.planning img {
    max-width: 100%
}

.planning {
    padding: 30px 0;
}

.planning h2 {
    width: 100%;
    background-size: 100%;
    padding: 100px 9px 0;
    margin: 0;
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    height: 255px;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.planning p {
    font-size: 17px;
    color: #666;
    font-weight: 300;
    margin: 30px 0;
}

.planning .first-plan {
    background: url(../images/plan-1.png);
}

.planning .first-two {
    background: url(../images/plan-2.png);
}

.planning .plan-third {
    background: url(../images/plan-3.png);
}

.planning .plan-fourth {
    background: url(../images/plan-4.png);
}

.planning .plan-fifth {
    background: url(../images/plan-5.png);
}

.planning .plan-sixth {
    background: url(../images/plan-6.png);
}

@media only screen and (max-width: 700px) {
    .specification .services, .hire-btn {
        margin: 20px 0
    }

    .first-fold {
        height: 60vh
    }

    .planning h2 {
        height: auto;
        padding: 30px 0
    }

    .planning p {
        margin: 10px 0
    }

}